body      {background-color:#FFFFFF;
            color:#666666;
            font-family: Verdana, Arial, sans-serif;}
h1       {  background-color: #000033;
           color: #FFFFFF;
           font-family: Georgia, serif;
            line-height: 200%;}
nav      {background-color:#90C7E3;
           font-weight:bold;}
h2       {color: #3399CC;
		 font-family: Georgia, serif;}
dt       {color: #000033;
           font-weight:bold;}
.resort  {color: #000033;
           font-size: 1.2em;}
footer    {font-size:.70em;
            font-style: italic;
             text-align:center;}
#wrapper { margin-right:auto;
            margin-left: auto;
              width:80%;}